@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.themeSwitcher {
  --theme-switcher-color: var(--color-base);

  .button {
    align-items: center;
    background: transparent;
    border: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    outline: 0;
    padding: 0;

    svg {
      pointer-events: none;
      stroke: var(--theme-switcher-color);
      transition: stroke 400ms;
    }

    &:hover {
      --theme-switcher-color: var(--color-primary);
    }
  }

  .moon {
    opacity: 0;
    stroke-dasharray: 0 1px;
    transition: stroke-dasharray 200ms ease-in, opacity 400ms ease-in;
  }

  .sun {
    opacity: 1;
    stroke-dasharray: 1px 1px;
    transition: stroke-dasharray 200ms ease-in, opacity 400ms ease-in;
  }

  &.dark {
    .moon {
      opacity: 1;
      stroke-dasharray: 1px 1px;
    }

    .sun {
      opacity: 0;
      stroke-dasharray: 0 1px;
    }
  }
}
